AppBar(
  title: Text(
    '{{ title }}',
    style: TextStyle(fontSize: {{ font_size_px }}),
  ),
  backgroundColor: {{ background_color }},
  foregroundColor: {{ title_color }},
  elevation: {{ elevation }}.0,
  centerTitle: {{ center_title }},
)
