Text(
  '{{ text }}',
  style: TextStyle(
    fontSize: MediaQuery.of(context).size.width * {{ font_size_ratio }},
    color: {{ color }},
    fontWeight: {{ font_weight }},
  ),
  textAlign: {{ text_align }},
)
